body {
  width: 100%;
  height: 100%;
  background-color: #A6979c;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #42383B;
  text-align: center;
  font-weight: 900;
  font-size: 40px;
}

.todo-wrapper {
  background-color: #8E7B81;
  padding: 16px;
  width: 90vw;
  max-height: 90vh;
  overflow-y: auto;
  border-radius: 12px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
  border: solid 4px #443636;
}

.todo-input {
  display: flex;
  flex-direction: column;
  align-items: left;
  border-bottom: 1px solid #000000;
  padding-bottom: 25px;
  margin-bottom: 25px;
  width: auto;
}

.todo-input-item {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-bottom: 15px;
}

.todo-input-item label {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 18px;
  color: #42383B;
}

.todo-input-item input {
  padding: 8px;
  width: auto;
  height: 24px;
  border-radius: 8px;
  font-size: 18px;
  border: solid 1px #443636;
}

.todo-input-item ::placeholder {
  padding: 4px;
  font-size: 14px;
}

.addbtn{
  background-color: #42383B;
  color: #ffffff;
  border-radius: 8px;
  height: 36px;
  width: 100%;
  border: none;
  margin-top: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.btn-area{
  display: flex;
  flex-direction: row;
}

.togglebtn1 {
  background-color: #222222;
  color: #ffffff;
  border-radius: 12px 0px 0px 12px;
  height: 36px;
  width: 100%;
  border: none;
  margin-top: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.togglebtn2{
  background-color: #222222;
  color: #ffffff;
  border-radius: 0px 12px 12px 0px;
  height: 36px;
  width: 100%;
  border: none;
  margin-top: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.active {
  background-color: #443636;
}

.todo-list {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}

.todo-list-item {
  background-color: #42383B;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px;
  margin-bottom: 10px;
  align-items: center;
  border-radius: 18px;
}

.todo-input-item-text{
  overflow: hidden;
  max-width: 180px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.icons{
  font-size: 25px;
  margin-left: 10px;
  cursor: pointer;
}


.view-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.view-content {
  background-color: #42383B;
  padding: 20px;
  border-radius: 18px;
  height: 70%;
  width: 70%;
  word-wrap: break-word;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: solid 4px #222222;
}

.view-content h2 {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid gray;
}

.close-button {
  margin-top: auto;
  padding: 10px;
  background-color: #222222;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}

::-webkit-scrollbar {
  width: 2px;
}

