body{
  background-color: #222222;
  color: #ffffff;
}

h1{
  text-align: center;
}

.todo-wrapper{
  background-color: #555555;
  padding: 2%;
  width: auto;
  max-height: 80vh;
  overflow-y: auto;
  border-radius: 12px;
  margin: 24px;
}

.todo-input{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid gray;
  padding-bottom: 25px;
  margin-bottom: 25px;
  width: auto;
}

.todo-input-item{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 25px;
}

.todo-input-item label{
  font-weight: bold;
  margin-bottom: 10px;
}

.todo-input-item input{
  padding: 8px;
  border: none;
  width: 300px;
  border-radius: 8px;
}

.primarybtn{
  background-color: #444444;
  color: #ffffff;
  border-radius: 8px;
  height: 36px;
  width: 100px;
  border: none;
  margin-top: 30px;
  cursor: pointer;
}

.togglebtn{
  background-color: #333333;
  color: #ffffff;
  border-radius: 8px;
  height: 36px;
  width: 100px;
  border: none;
  margin-top: 30px;
  cursor: pointer;
}

.active{
  background-color: #222222;
}

.todo-list{
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}

.todo-list-item{
  background-color: #111111;
  display: flex;
  justify-content: space-between;
  padding: 12px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
  align-items: center;
}

.icon{
  font-size: 25px;
  cursor: pointer;
}

.check-icon{
  font-size: 25px;
  margin-left: 10px;
  cursor: pointer;
}